@import 'partials/draggableItem';
@import 'partials/expo-menu';
@import 'partials/context-menu';
@import 'partials/expo-canvas';

.editor-styles-wrapper:has(.expo-root) {
  padding: 0 1em !important;
  margin: 0 auto;
}

.expo-root {
  max-width: unset;

  gap: 1em;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  overflow: auto;
}
