.menu-section {
  flex: 1 0 300px;
  padding: 1rem;

  position: sticky;
  z-index: 1000;
  background-color: #fffc !important;
  left: 0;

  min-height: fit-content;

  .prop-control {
    margin-bottom: 1em;
  }
}
